.card {
    background-color: #FAFAFA;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);

    h5 {
        color: #B7EF3F;
        margin-bottom: 1rem;
    }

    .p-datatable {
        border: 1px solid #E9E9E9;
        border-radius: 0.5rem;

        .p-datatable-thead > tr > th {
            background-color: #B7EF3F;
            color: white;
        }

        .p-datatable-tbody > tr > td {
            border: 1px solid #E9E9E9;
        }

        .p-paginator {
            background-color: #B7EF3F;
            color: white;

            .p-paginator-pages > .p-paginator-page {
                color: white;

                &.p-highlight {
                    background-color: #FAFAFA;
                    color: #B7EF3F;
                }
            }
        }
    }

    .p-button {
        &-outlined {
            background-color: #B7EF3F;
            border-color: #FAFAFA;
            color: #FAFAFA;

            &:hover {
                background-color: #abe13b;
                color: #FAFAFA;
            }
        }

        &-danger {
            background-color: red;
            border: none;
            color: #FAFAFA;

            &:hover {
                background-color: #ea0202;
            }
        }
    }

    .p-input-icon-left input {
        border-color: #E9E9E9;
        box-shadow: 0 0 5px #B7EF3F;
        &:focus {
            border-color: #B7EF3F;
            box-shadow: 0 0 5px #B7EF3F;
        }
    }
    .p-input-icon-left {
        width: 40%;
    }
    .club-logo {
        max-width: 50px;
        height: auto;
        display: block;
        margin: 0 auto;
        border-radius: 30%; /* Makes the image circular */

    }
}

.invisible-bg {
    background-color: transparent !important;
    border: none !important;
    color: #B7EF3F !important;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 1.5em !important; /* Increase font size */
}

.invisible-bg:hover {
    color: #B7EF3F !important;
    box-shadow: 1px 15px 18px  #B7EF3F;

}

.table-view th tr {
    text-align: center; /* Centers text in table cells */
}
