{% extends 'base.html.twig' %}

{% block title %}{{ classroom.name }} - Moyenne{% endblock %}

{% block body %}
    <h1>{{ classroom.name }} - Moyenne</h1>
    <p>Moyenne : {{ average }}</p>
{% endblock %}