<div class="container">
    <div class="card p-fluid">
        <div style="text-align: center;">
            <img src="./assets/demo/images/logo/logo.jpg" class="animated-logo" style="max-width: 100px; height: auto;" alt="Club Logo">
            <h3 style="margin-top: 2px;">Creating Club</h3>
        </div>
        <form [formGroup]="clubForm" (ngSubmit)="createClub()">
            <div class="field" style="text-align:center">
                <label for="image" class="file-upload-button">
                    <span class="file-icon">
                        <i class="fa-regular fa-file-image"></i>
                    </span>
                    <input type="file" id="image" (change)="onImageSelected($event)" formControlName="image" />
                </label>
            </div>

            <div class="field">
                <label for="nom">Nom</label>
                <input pInputText id="nom" formControlName="nom" type="text" />
            </div>
            <div class="field">
                <label for="president">President</label>
                <input pInputText id="president" formControlName="president" type="text" />
            </div>
            <div class="field">
                <label for="foundationYear">Fondation année</label>
                <p-calendar [showIcon]="true" inputId="foundationYear" formControlName="foundationYear"></p-calendar>
            </div>
            <div class="field">
                <label for="location">Location</label>
                <p-autoComplete
                    formControlName="location"
                    [suggestions]="filteredCountries"
                    (completeMethod)="filterCountry($event)"
                    (onSelect)="onCountrySelect($event)"
                    field="name"
                    [dropdown]="true">
                    <ng-template let-country pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            <img
                                src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                                [class]="'flag flag-' + country.code.toLowerCase()"
                                style="width: 18px" />
                            <div>{{ country.name }}</div>
                        </div>
                    </ng-template>
                </p-autoComplete>
            </div>

            <button pButton label="Create" class="custom-button"></button>
        </form>
    </div>
</div>
