<!-- joueur-list.component.html -->
<div class="container">
<!--    <button mat-button (click)="openJoueurDialog()">Add Joueur</button>-->
    <button pButton label="Add" class="p-button-outlined" icon="pi pi-plus" (click)="openJoueurDialog()"></button>

</div>

<div class="col-12">
    <div class="card">
        <p-dataView #dv [value]="joueurs" [paginator]="true" [rows]="9" filterBy="fullname" [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
            <ng-template pTemplate="header">
                <div class="grid grid-nogutter flex-column md:flex-row justify-content-between">
                    <p-dropdown [options]="sortOptions" placeholder="Sort By Value" (onChange)="onSortChange($event)"></p-dropdown>
                    <span class="p-input-icon-left mb-2 md:mb-0">
            <i class="pi pi-search"></i>
            <input type="search" pInputText placeholder="Search by Name" (input)="onFilter(dv, $event)">
          </span>
                    <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                </div>
            </ng-template>

            <ng-template let-joueur pTemplate="listItem">
                <div class="col-12">
                    <div class="flex flex-column md:flex-row align-items-center p-3 w-full">
                        <img *ngIf="joueur.pictureUrl" [src]="'http://localhost:8081/' + joueur.pictureUrl" alt="pic not found" class="player-pic">

                        <div class="flex-1 text-center md:text-left" style="margin-left :9px">
                            <div class="font-bold text-2xl">{{joueur.fullname}}</div>
                            <div class="mb-3">{{joueur.position}}</div>
                            <div class="flex align-items-center mt-2">
                                <i class="pi pi-tag mr-2"></i>
                                <span class="font-semibold">{{joueur.jerseyNumber}}</span>
                            </div>
                        </div>
                        <div class="flex flex-row md:flex-column justify-content-between w-full md:w-auto align-items-center md:align-items-end mt-5 md:mt-0">
                            <span class="text-2xl font-semibold mb-2 align-self-center md:align-self-end">${{joueur.valeur}}</span>
                            <p-button icon="pi pi-shopping-cart" label="Add to Cart" class="mb-2" (click)="AddPlayerToClub(joueur)"></p-button>
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template let-joueur pTemplate="gridItem">
                <div class="col-12 md:col-4">
                    <div class="card m-3 border-1 surface-border">
                        <div class="flex align-items-center justify-content-between">
                            <div class="flex align-items-center">
                                <i class="pi pi-tag mr-2"></i>
                                <span class="font-semibold">{{joueur.jerseyNumber}}</span>
                            </div>
                        </div>
                        <div class="text-center">
                            <img *ngIf="joueur.pictureUrl" [src]="'http://localhost:8081/' + joueur.pictureUrl" alt="pic not found" class="player-pic2"/>
                            <br>
                            <div class="text-2xl font-bold">{{joueur.fullname}}</div>
                            <div class="mb-3">{{joueur.position}}</div>
                        </div>
                        <div class="flex align-items-center justify-content-between">
                            <span class="text-2xl font-semibold">${{joueur.valeur}}</span>
                            <p-button icon="pi pi-shopping-cart" (click)="AddPlayerToClub(joueur)"></p-button>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dataView>
    </div>
</div>
